<div class="article-cards">
  {{#each articles}}
    <div class="article-card fade" id="article-id-{{this.dataValues.id}}">
      <img class="article-picture" src="{{this.dataValues.imageUrl}}" alt="here's an image">
      <a href="{{this.dataValues.url}}" class="article" target="_blank">{{this.dataValues.title}}</a>
    </div>
  {{/each}}
</div>
