 <div class="menuToggle" onclick="toggleMenu();"></div>
    <div class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Products</a></li>
            <li><a href="/solar">Solar</a></li>
            <li><a href="/wind">Wind</a></li>
        </ul>

        
        <div class="socialBar">
            <ul>
                <li><a href='#'><img src="Images/Facebook.png"></a></li>
                <li><a href='#'><img src ="Images/Twitter.logo.png"></a></li>
                <li><a href="mailto:vickalexandra3@gmail.com" class="emailBx"><img src="Images/atsign.jpeg"></a></li>
            </ul>    
        </div>
    </div>
