<ul id="hexGrid">
  <li class="hex">
    <div id="kitchenBtn" class="hexIn" data-id="kitchen">
      <img src="/Images/kitchen.png" alt="" />
      <h1>Kitchen</h1>
      <p>Renew your kitchen with resuable, compostable and zero waste products</p>
    </div>
  </li>
  <li class="hex">
    <div id="bathroomBtn" class="hexIn" data-id="bathroom">
      <img src="/Images/bathroom.png" alt="" />
      <h1>Bathroom</h1>
      <p>Replace toxic cleaning chemicals and reduce plastic usage</p>
    </div>
  </li>
  <li class="hex">
    <div id="beautyBtn" class="hexIn" data-id="beauty">
      <img src="/Images/beauty.png" alt="" />
      <h1>Beauty</h1>
      <p>Refresh your beauty routine with non toxic and reusable products</p>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
    </div>
  </li>
</ul>
 <div class="product-container"></div>