<ul id="hexGrid">
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="/Images/kitchen.png" alt="" />
            <h1>Kitchen</h1>
            <p>Renew your kitchen with resuable, compostable and zero waste products</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="/Images/bathroom.png" alt="" />
            <h1>Bathroom</h1>
            <p>Replace toxic cleaning chemicals and reduce plastic usage</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="/Images/beauty.png" alt="" />
            <h1>Beauty</h1>
            <p>Refresh your beauty routine with non toxic and reusable products</p>
          </a>
        </li>
 