<p>Location: <span id="location"></span></p>

<div class="search-section">Search for a City:</div>

    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"
    />
<div class="nav-search">
    <input id="searchText" name="searchText" type="text" class="city-search">
    <i class="fas fa-search search-icon"></i>
    <i class="fas fa-location-arrow location-icon"></i>
</div>
<div>
    <button id="irradiance">Get the Solar Irradiance</button>
    <p>Solar Irradiance: [kWh / m2 / day]: </p><span id="irradiance-result"></span>
    <p>Average household power usage [kWh / month]: <span id="power"></span>
    <p>Needed solar panel sizing [m2]: <span id="solarPanel"></span>
    {{!-- <p>Power needs - 100kw/day</p> --}}
    {{!-- <p>(25kwH / day) / (3.15  kWh/m2/day) = 8 m2</p> --}}

</div>
<script src= './js/solar.js'></script>