<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verdant</title>
  <link rel="stylesheet" href="/assets/stylesheets/style.css" type="text/css" />
  <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/articles.js"></script>
</head>
<body>
    {{{ body }}}
=======
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verdant Earth | Welcome</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    {{{body}}}
    {{>navigationbar}}
    <script type="text/javascript">
        function toggleMenu(){
            var menuToggle = document.querySelector('.menuToggle');
            var menuToggle = document.querySelector('.navigation');
            menuToggle.classList.toggle('active');
            navigation.classList.toggle('active');
        }    
    </script>

 
>>>>>>> master
</body>
</html>