<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verdant Earth | Welcome</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="./js/articles.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {{{body}}}
    {{>navigationbar}}
    <script type="text/javascript">
        function toggleMenu(){
            var menuToggle = document.querySelector('.menuToggle');
            var menuToggle = document.querySelector('.navigation');
            menuToggle.classList.toggle('active');
            navigation.classList.toggle('active');
        }    
    </script>
</body>
</html>