<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verdant Earth | Welcome</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    {{{body}}}
    <div class="menuToggle" onclick="toggleMenu();"></div>
    <div class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Products</a></li>
            <li><a href="/solar">Solar</a></li>
            <li><a href="/wind">Wind</a></li>
        </ul>
        <div class="socialBar">
            <ul>
                <li><a href='#'><img src="Images/Facebook.png"></a></li>
                <li><a href='#'><img src ="Images/twitter.png"></a></li>
            </ul>
            <a href="mailto:vickalexandra3@gmail.com" class="emailBx"><img src="Images/atsign.jpeg"></a>
        </div>
    </div>
    <script type="text/javascript">
        function toggleMenu(){
            var menuToggle = document.querySelector('.menuToggle');
            var menuToggle = document.querySelector('.navigation');
            menuToggle.classList.toggle('active');
            navigation.classList.toggle('active');
        }    
    </script>

    
</body>
</html>