    <div class="mainpage">
        <div class="logo">Verdant Earth</div>
        <img src="../Images/background.jpg" class="bg">
        <div class="content">
            <h2> Make<br>Our Planet Better</h2>
            <p> Our goal at Verdant Earth is to make reducing your household waste and carbon footprint easier. We provide access to articles that supply information about going green, changing your house over to solar energy and giving you access to products that help reduce everyday household waste.</p>
            <button onclick="document.location='/product'">Get Started</button>
        </div>
    </div>
