    <div class="mainpage">
        <div class="logo">Verdant Earth</div>
        <img src="Images/AdobeStock_331270073.jpeg" class="bg">
        <div class="content">
            <h2>Lets Make<br>Our Planet Better</h2>
            <p>ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUTABOUT ABOUT ABOUT ABOUTABOUT ABOUT ABOUT ABOUTvABOUT ABOUT ABOUT ABOUTABOUT ABOUT ABOUT ABOUTABOUT ABOUT ABOUT ABOUTABOUT ABOUT ABOUT ABOUTABOUT ABOUT ABOUT ABOUT</p>
            <button onclick="document.location='/product'">Get Started</button>
        </div>
        <p class="copyrightText">2020. Verdant Earth</p>/p>
    </div>
    