<section class="login">
    <div class="hero-image4">
        <div class="hero-text4">
            <h1 style="font-size:80px;">Login Page</h1>
        </div>
    </div>

  <form class="form-4 login">
    <h1>Login or Register</h1>
    <p>
        <label for="login"Email</label>
        <input type="text" name="login" placeholder="Email" id="email-input" required>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name='password' placeholder="Password"  id="password-input" required> 
    </p>

    <p>
        <input type="submit" name="submit" value="Continue">
    </p>       
  </form>
  <br />
  <p style="text-align: center;">Or sign up <a href="/signup" style="color:blue;">here</a></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
  {{>navigationbar}}
  {{>footer}}
</section>  
