<header>
    <div class="container">
        <div id="branding">
            <h1>Products</h1>
        </div>
    </div>
</header>

 {{>navigationbar}}
 {{>productbutton}}

 <section> 
     <h3>Products you can use to lead a greenier and healthier life at home.</h3>
     <button id="kitchenBtn">CLICK ME</button>
 </section>
 <script src= './js/product.js'>

 </script>