<section class="products"> 
    <div class="hero-image3">
        <div class="hero-text3">
            <h1 style="font-size:80px;">Renewable Energy Products</h1>
        </div>
    </div>


 {{>navigationbar}}
 {{>productbutton}}
 

 <section> 
     {{>product}}

 
 </section>
 
 {{>footer}}
 
 <script src= './js/product.js'>

 </script>

