<section class="products"> 
    <div class="hero-image3">
        <div class="hero-text3">
            <h1 style="font-size:80px;">Renewable Energy: Products</h1>
        </div>
    </div>

 {{>navigationbar}}
 {{>productbutton}}

 <section> 
     <h3>Products you can use to lead a greener and healthier life at home.</h3>
     <button id="kitchenBtn" data-id="kitchen">Kitchen</button>
     <button id="bathroomBtn" data-id="bathroom">Bathroom</button>

     <ul id="hexGrid">
  <li class="hex">
    <a class="hexIn" href="#">
      <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
      <h1>Kitchen</h1>
      <p>Some sample text about the article this hexagon leads to</p>
    </a>
  </li>
  <li class="hex">
    <a class="hexIn" href="#">
      <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="" />
      <h1>Bathroom</h1>
      <p>Some sample text about the article this hexagon leads to</p>
    </a>
  </li>
  <li class="hex">
    <a class="hexIn" href="#">
      <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="" />
      <h1>Beauty/Personal Care</h1>
      <p>Some sample text about the article this hexagon leads to</p>
    </a>
  </li>
 </section>
 {{>footer}}
 <script src= './js/product.js'>

 </script>
