<section class="products"> 
    <div class="hero-image3">
        <div class="hero-text3">
            <h1 style="font-size:80px;">Renewable Energy Products</h1>
        </div>
    </div>


 {{>navigationbar}}
 

 <section> 
     {{>product}}

    
 </section>

 <section>
   <div class="article-cards">
    {{#each articles}}
      <div class="article-card" id="article-id-{{this.dataValues.id}}">
        <img class="article-picture" src="{{this.dataValues.imageUrl}}" alt="here's an image">
        <a href="{{this.dataValues.url}}" class="article" target="_blank">{{this.dataValues.title}}</a>
      </div>
    {{/each}}
</div>

 </section>

 {{>productbutton}}
 {{>footer}}
 
 <script src= './js/product.js'>
 

 </script>
 {{!-- <script type="text/javascript" src="./js/articles.js"></script> --}}

