<section class="products"> 
    <div class="hero-image3">
        <div class="hero-text3">
            <h1 style="font-size:80px;">Renewable Energy: Products</h1>
        </div>
    </div>

    <p>Page Content..</p>
 {{>productbutton}}   
 {{>footer}}
 </section>  