<section class="products"> 
    <div class="hero-image3">
        <div class="hero-text3">
            <h1 style="font-size:80px;">Renewable Energy: Products</h1>
        </div>
    </div>

 {{>navigationbar}}
 {{>productbutton}}
 

 <section> 
     {{>product}}
     {{!-- <h3>Products you can use to lead a greenier and healthier life at home.</h3> --}}
     {{!-- <button id="kitchenBtn" data-id="kitchen">Kitchen</button>
     <button id="bathroomBtn" data-id="bathroom">Bathroom</button>
     <button id="beatyBtn" data-id="beauty">Beauty</button> --}}

 
 </section>
 
 {{>footer}}
 
 <script src= './js/product.js'>

 </script>
