<link rel="stylesheet" href="/stylesheets/profile.css">
<section>
  <div class="hero-image4">
    <div class="hero-text4">
      <h1 style="font-size:80px;">Membership Page</h1>
    </div>
  </div>
  
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span id="modal-close" class="close">&times;</span>
        <h2>Purge account</h2>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove your account?</p>
        <button type="submit" class="btn delete-btn" id="delete-confirm">Delete Account</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="head-profile">
      <span></span><h2 style="text-align: center;">Profile</h2><button id="logout" class="logout">Logout</button>
    </div>
      <table class="profile" data-id="0" id="profile-table">
        <tr>
          <td><label for="firstName-input">Name:</label></td>
          <td class="filled" id="firstName"></td>
          <td><input type="text" name="firstName-input" placeholder="Click to change" id= "firstName-input"></td>
        </tr>
        <tr>
          <td><label for="email-input">Email:</label></td>
          <td class="filled" id="email"></td>
          <td><input type="email" placeholder="Click to change" id= "email-input"></td>
        </tr>
        <tr>
          <td><label for="password-input">Password:</label></td>
          <td></td>
          <td><input type="password" placeholder="Click to change" id= "password-input"></td>
        </tr>
        <tr>
          <td><label for="emailOptIn">Subscribe to:<br><i>Are you Verdant?</i></td>
          <td class="filled"><input type="checkbox" id="emailOptIn" data-id=""></td>
          <td></td>
        </tr>
      </table>
      <div class="btn-container">
        <button type="submit" class="btn profile-btn" id="submit">Submit</button>
      </div>
    <br />
      <div class="btn-container">
        <button type="submit" class="btn delete-btn" id="delete">Delete Account</button>
      </div>
  </div>

  <script type="text/javascript" src="js/profile.js"></script>
  </section>
