<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Verdant Earth Membership<span class="member-name"></span></h2>
        <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Profile</h2>
        <form class="login">
          <div class="form-group">
            <label for="FirstName" id="firstName">First Name</label>
            <input type="input" class="form-control" placeholder="Click to change">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" id="email">Email address</label>
            <input type="email" class="form-control" placeholder="Click to change">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" id="password" >Password</label>
            <input type="password" class="form-control" placeholder="Click to change">
          </div>
          <div class="form-group">
            <label for="emailToggle">Subscribe to <i>Are you Verdant?</i></label>
            <label class="switch"><input type="checkbox"><span class="slider round"></span></label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <br />
        
        <div>
        <h3>Your Verdant Experience</h3>
        Power Usage : <span id="powerUsage"></span>$/kWh
        Solar Index : <span id="solarIndex"></span>Solar Flux Units
        Utility rate : $<span id="utilityRate"></span>
        </div>
       
      </div>
    </div>
  </div>

      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>