<section id="signup">
    <div class="container">
        <h1>Sign Up For Newsletter</h1>
        <form>
            <input type="email" placeholder="Enter Email....">
            <button type="submit" class="button2">Subscribe</button>
        </form>
    </div>
</section>
