<header>
    <div class="container">
        <div id="branding">
            <h1>Renewable Energy: Solar Power</h1>
        </div>
    </div>
</header>
    
{{>navigationbar}}
{{>solarbutton}}
{{>solarphoto}}
