<section class="wind">
    <div class="hero-image2">
        <div class="hero-text2">
            <h1 style="font-size:80px;">Renewable Energy Wind Power</h1>
        </div>
    </div>

    <div class="windpage">
        <h2>wind turbine turns wind energy into electricity</h2>
        <p>A wind turbine turns wind energy into electricity using the aerodynamic force from the rotor blades, which work like an airplane wing or helicopter rotor blade. When wind flows across the blade, the air pressure on one side of the blade decreases. The difference in air pressure across the two sides of the blade creates both lift and drag. The force of the lift is stronger than the drag and this causes the rotor to spin. The rotor connects to the generator, either directly (if it’s a direct drive turbine) or through a shaft and a series of gears (a gearbox) that speed up the rotation and allow for a physically smaller generator. This translation of aerodynamic force to rotation of a generator creates electricity.</p>

        <p><a>"The United States’ wind power capacity was 105.591 megawatts at the end of 2019, making it the largest renewable energy source in the United States. That’s enough electricity to offset the consumption of 29.5 million average American homes" energy.gov</a></p>

        <p><a>"Wind energy avoided 198million metric tons of cO2 emissions in 2019" awea.org</a></p>

    
        <div style="width: 1000px; margin:auto"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=129878" width="1000" height="520" frameborder="0"  scrolling="no"></iframe><a style="position: relative;height: 20px;display: block;text-indent: -9999em;margin: -20px 0 0 0;z-index: 1" href="https://www.willyweather.com/wa/pierce-county/puyallup.html" rel="nofollow">puyallup wind forecast</a></div>
    </div>
{{>windbutton}}
{{>article}}
{{>footer}}
</section>
