<section class="wind">
    <div class="hero-image2">
        <div class="hero-text2">
            <h1 style="font-size:80px;">Renewable Energy: Wind Power</h1>
        </div>
    </div>

    <div class="windpage">
        <h1>Let me tell you about Wind Power</h1>
        <h2>information about wind goes here. blah blah blah blah blah blah</h2>
        <p><a>fhsdjkfhksdhfjkdhgkjdahfglkhdgkjh</a></p>

    
        <div style="width: 1000px; margin:auto"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=129878" width="1000" height="520" frameborder="0"  scrolling="no"></iframe><a style="position: relative;height: 20px;display: block;text-indent: -9999em;margin: -20px 0 0 0;z-index: 1" href="https://www.willyweather.com/wa/pierce-county/puyallup.html" rel="nofollow">puyallup wind forecast</a></div>
    </div>
{{>windbutton}}
{{>footer}}
</section>

