form.signup,
form.login {
  margin-top: 50px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #ffffff;
}
footer
{
  height: 70px;
  width: 100%;
  bottom: 0;
}
.products footer
{
  background-image:
  -webkit-linear-gradient(125deg, transparent 30%, #EEEDD5),
  -webkit-linear-gradient(45deg, #44A08D, #093637);
}
.solar footer
{
  background-image:
  -webkit-linear-gradient(125deg, transparent 30%, #8A2387),
  -webkit-linear-gradient(45deg, #E94057, #F27121);
}
.wind footer
{
  background-image:
  -webkit-linear-gradient(125deg, transparent 30%, #7ea5c6),
  -webkit-linear-gradient(45deg, #6c349a, #ae5db6);
}
.mainpage
{
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
.mainpage .logo
{
    position: fixed;
    top: 30px;
    color: white;
    font-size: 2em;
    z-index: 100;
    cursor: pointer;
}
.mainpage .bg 
{
    position: absolute;
    top: 0;
    right: 60px;
    height: 100%;
}
.mainpage .content
{
    position: relative;
    max-width: 650px;
    z-index: 1;
}
.mainpage .content h2
{
    color: orange;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.1em;
}
.mainpage .content p
{
    color: white;
    font-size: 1.em;
    margin: 20px 0 10px;
}
.mainpage .content button 
{
    color: #ffffff;
    background: #36453B;
    font-size: 1em;
    margin: 20px 0;
    font-weight: 500;
    padding: 10px 30px;
    text-decoration: none;
}
.productbutton
{
    color: #093637;
    font-size: 1em;
    margin-right: 70px;
    font-weight: 500;
    text-decoration: none;
}
.productdiv 
{
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}
.solarbutton
{
    color: orange;
    font-size: 1em;
    margin-right: 70px;
    font-weight: 500;
    text-decoration: none;
}
.solardiv
{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.windbutton
{
    color:#7ea5c6;
    font-size: 1em;
    margin-right: 70px;
    font-weight: 500;
    text-decoration: none;
}
.winddiv
{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.copyrightText 
{
    position: absolute;
    bottom: 20px;
    color: #ffffff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}
.menuToggle 
{
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #596869;
    background-image: url("../Images/arrowleft.png");
    background-size: cover;
    cursor: pointer;
    z-index: 1000;
}
.menuToggle.active
{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}    
.navigation 
{
    position: fixed;
    top: 0;
    left: calc(100% - 60px);
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.navigation.active
{
left: 0px;
}
.navigation ul
{
    position: relative;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    text-align: center;
}
.navigation ul li a 
{
    font-size: 2.5em;
    color: #36453B;
    text-decoration: none;
    font-weight: 300;
}
.navigation ul li a:hover
{
    color:#36453B
}
.socialBar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.2);
}

@media (max-width: 767px)
{
    .mainpage
    {
        padding: 100px 40px;
    }
    .mainpage .content h2 
    {
        font-size: 2.5em;
    }
    .navigation 
    {
        left: 100%;
    }
    .mainpage .bg
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
    .mainpage .logo 
    {
        top: 10px;
        font-size: 1.5em;
    }
}        
    .hero-image
    {
      background-image: url("../Images/solar.jpeg");
      height: 70vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    
    .hero-text 
    {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      -webkit-text-stroke: 1px #282828;
      text-shadow: 0px 4px 4px #282828;
      z-index: 1;
    }
    .hero-image2
    {
      background-image: url("../Images/wind.jpeg");
      height: 70vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    
    .hero-text2 
    {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      -webkit-text-stroke: 1px #282828;
      text-shadow: 0px 4px 4px #282828;
      z-index: 1;
    }
    .hero-image3
    {
      background-image: url("../Images/product.jpeg");
      height: 70vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    
    .hero-text3 
    {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: white;
      -webkit-text-stroke: 1px #282828;
      text-shadow: 0px 4px 4px #282828;
      z-index: 1;
    }

    @import "bourbon";
:root 
{
--hover-color: #cfb4f7;
}

a {
  text-decoration:none;
  color:white;
  overflow:hidden;
  display:block;
  margin:0.75em;
}

.button {
  letter-spacing:.5em;
  text-decoration:center;
  padding:0.75em 1.25em 0.75em 1.75em;
  border-color:white;
  border-width:2px;
  border-style:solid;
  white-space: nowrap;
  -webkit-transition: border-color 500ms ease, color 250ms ease;;
  -moz-transition: border-color 500ms ease, color 250ms ease;;
  -ms-transition: border-color 500ms ease, color 250ms ease;;
  -o-transition: border-color 500ms ease, color 250ms ease;;
  transition: border-color 500ms ease, color 250ms ease;;
}

.button:hover {
  color:var(--hover-color);
  border-color:var(--hover-color);
}

.button:before,
.button:after {
  border-style:solid;
  border-color:white;
  border-width:0;
  -webkit-transition: border-color 500ms ease;;
  -moz-transition: border-color 500ms ease;;
  -ms-transition: border-color 500ms ease;;
  -o-transition: border-color 500ms ease;;
  transition: border-color 500ms ease;;
}

a:hover .button:before,
a:hover .button:after {
  border-color:var(--hover-color);
}





