form.signup,
form.login {
  margin-top: 50px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #ffffff;
}
footer
{
  height: 70px;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-top: 25px;
  color: white;
}
.products footer
{
  background-image:
  -webkit-linear-gradient(125deg, transparent 30%, #EEEDD5),
  -webkit-linear-gradient(45deg, #44A08D, #093637);
  text-align: center;
  padding-top: 25px;
  color: white;
}
.solar footer
{
  background-image:
  -webkit-linear-gradient(125deg, transparent 30%, #8A2387),
  -webkit-linear-gradient(45deg, #E94057, #F27121);
  text-align: center;
  padding-top: 25px;
  color: white;
}
.wind footer
{
  background-image:
  -webkit-linear-gradient(125deg, transparent 30%, #7ea5c6),
  -webkit-linear-gradient(45deg, #6c349a, #ae5db6);
  text-align: center;
  padding-top: 25px;
  color: white;
}
.login footer
{
  background-image:
  -webkit-linear-gradient(125deg, transparent 30%, #0c3d1f),
  -webkit-linear-gradient(45deg, #2ea074, #566649);
  text-align: center;
  padding-top: 25px;
  color: white;
}
.mainpage
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
.mainpage .logo
{
    position: fixed;
    top: 30px;
    color: white;
    font-size: 2em;
    z-index: 100;
    cursor: pointer;
    padding-left: 40px;
}
.mainpage .bg 
{
    position: absolute;
    top: 0;
    right: 60px;
    height: 100%;
}
.mainpage .content
{
    position: relative;
    width: 60%;
    z-index: 1;
    padding-left: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.mainpage .content h2
{
    color: orange;
    text-shadow: 2px 2px 4px rgb(161, 124, 31);
    font-size: 5em;
    font-weight: 700;
    line-height: 1.1em;
    width: 650px;
}
.mainpage .content p
{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5em;
    font-style: Open Sans Condensed;
    margin: 20px 0 10px;
}

.mainpage .content button 
{
    color: #ffffff;
    background: #36453B;
    font-size: 1em;
    margin: 20px 0;
    font-weight: 500;
    padding: 10px 30px;
    text-decoration: none;
}
.productbutton
{
    color: #093637;
    font-size: 1em;
    margin-right: 70px;
    font-weight: 500;
    text-decoration: none;
}
.productdiv 
{
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}
.solarbutton
{
    color: orange;
    font-size: 1em;
    margin-right: 70px;
    font-weight: 500;
    text-decoration: none;
}
.solardiv
{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

section {
  margin-bottom: 20px;
}
.windbutton
{
    color:#7ea5c6;
    font-size: 1em;
    margin-right: 70px;
    font-weight: 500;
    text-decoration: none;
}
.winddiv
{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.copyrightText 
{
    position: absolute;
    bottom: 20px;
    color: #ffffff;
    font-size: 1.1em;
    margin: 20px 0 10px;
}
.menuToggle 
{
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #596869;
    background-image: url("../Images/arrowleft.png");
    background-size: cover;
    cursor: pointer;
    z-index: 1000;
}
.menuToggle.active
{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}    
.navigation 
{
    position: fixed;
    top: 0;
    left: calc(100% - 60px);
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.navigation.active
{
left: 0px;
}
.navigation ul
{
    position: relative;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    text-align: center;
}
.navigation ul li a 
{
    font-size: 2.5em;
    color: #36453B;
    text-decoration: none;
    font-weight: 300;
}
.navigation ul li a:hover
{
    color:#36453B
}
.socialBar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.2);
}

@media (max-width: 767px)
{
    .mainpage
    {
        padding: 100px 40px;
    }
    .mainpage .content h2 
    {
        font-size: 2.5em;
    }
    .navigation 
    {
        left: 100%;
    }
    .mainpage .bg
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
    .mainpage .logo 
    {
        top: 10px;
        font-size: 1.5em;
    }
}        
    .hero-image
    {
      background-image: url("../Images/solar.jpeg");
      height: 70vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    
    .hero-text 
    {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      -webkit-text-stroke: 1px #282828;
      text-shadow: 0px 4px 4px #282828;
      z-index: 1;
    }
    .hero-image2
    {
      background-image: url("../Images/wind.jpeg");
      height: 70vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    
    .hero-text2 
    {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      -webkit-text-stroke: 1px #282828;
      text-shadow: 0px 4px 4px #282828;
      z-index: 1;
    }
    .hero-image3
    {
      background-image: url("../Images/product.jpeg");
      height: 70vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    
    .hero-text3 
    {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: white;
      -webkit-text-stroke: 1px #282828;
      text-shadow: 0px 4px 4px #282828;
      z-index: 1;
    }
    .hero-image4
    {
      background-image: url("../Images/Trees.jpg");
      height: 70vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
    }
    
    .hero-text4 
    {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      -webkit-text-stroke: 1px #282828;
      text-shadow: 0px 4px 4px #282828;
      z-index: 1;
    }

    @import "bourbon";
:root 
{
--hover-color: #cfb4f7;
}

a {
  text-decoration:none;
  color:white;
  overflow:hidden;
  display:block;
  margin:0.75em;
}

.button {
  letter-spacing:.5em;
  text-decoration:center;
  padding:0.75em 1.25em 0.75em 1.75em;
  border-color:white;
  border-width:2px;
  border-style:solid;
  white-space: nowrap;
  -webkit-transition: border-color 500ms ease, color 250ms ease;;
  -moz-transition: border-color 500ms ease, color 250ms ease;;
  -ms-transition: border-color 500ms ease, color 250ms ease;;
  -o-transition: border-color 500ms ease, color 250ms ease;;
  transition: border-color 500ms ease, color 250ms ease;;
}

.button:hover {
  color:var(--hover-color);
  border-color:var(--hover-color);
}

.button:before,
.button:after {
  border-style:solid;
  border-color:white;
  border-width:0;
  -webkit-transition: border-color 500ms ease;;
  -moz-transition: border-color 500ms ease;;
  -ms-transition: border-color 500ms ease;;
  -o-transition: border-color 500ms ease;;
  transition: border-color 500ms ease;;
}

a:hover .button:before,
a:hover .button:after {
  border-color:var(--hover-color);
}
.content { 
  position: relative; 
  width: 100%; /* for IE 6 */
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.windpage style {
  align-self: center;
}

.windpage h1 
{ 
  color: #DFBF84; 
  font-family: 'Orienta', sans-serif; 
  font-size: 65px; 
  font-weight: normal; 
  line-height: 60px; 
  margin: 10px 0 20px; 
  text-transform: uppercase; 
  text-shadow: 2px 2px 0 #000; 
  margin: 10px 0 24px; 
  text-align: center;
}

.windpage h2 
{ 
  font-size: 30px; 
  letter-spacing: -1px; 
  color: #DFBF84; 
  text-transform: uppercase; 
  text-shadow: 1px 1px 0 #000;
  margin: 10px 0 24px; 
  text-align: center; 
  line-height: 50px; 

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.windpage p { 
  color: #DFBF84; 
  font-family: 'Orienta', sans-serif; 
  font-size: 16px; 
  line-height: 24px; 
  margin: 0 0 24px; 
  text-align: center;
}


.windpage a { 
  color: #e8d4a7; 
  text-decoration: none; 
  text-align: center; 
  padding: 15px; 
  font-size: 16px; 
}


.windpage a:hover { color: #be9fd3; text-decoration: blink; }

/* Hexagons */
#hexGrid {
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
  padding: 0.866% 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

#hexGrid:after {
  content: "";
  display: block;
  clear: both;
}

.hex {
  position: relative;
  list-style-type: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
  transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

.hex * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
}

.hexIn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);
}



/*** HEX CONTENT **********************************************************************/

.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h1,
.hex p {
  margin: 0;
  width: 102%;
  left: -1%;  /* prevent line on the right where background doesn't cover image */
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.5em;
  z-index: 1;
  transform: translateY(-100%) translatez(-1px);
}

.hex h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.hex p {
  top: 50%;
  padding-bottom: 50%;
  transform: translateY(100%) translatez(-1px);
}


/*** HOVER EFFECT  **********************************************************************/

.hexIn:hover h1, .hexIn:focus h1, .hexIn:hover p, .hexIn:focus p {
  transform: translateY(0%) translatez(-1px);
}


/*** SPACING AND SIZING *****************************************************************/

@media (min-width:1201px) {  /* <- 2-3  hexagons per row */
  .hex {
    width: 32.666%;    /* = (100-2) / 3 */
    padding-bottom: 37.720%;    /* =  width / sin(60) */
  }
  .hex:nth-child(5n+1),
  .hex:nth-child(5n+2) {
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  .hex:nth-child(5n+3),
  .hex:nth-child(5n+4),
  .hex:nth-child(5n+5) {
    margin-top: -8.564%;
    margin-bottom: -8.564%;
  }
  .hex:nth-child(5n+2),
  .hex:nth-child(5n+4) {
    margin-right: 1%;
    margin-left: 1%;
  }
  .hex:nth-child(5n+1) {
    margin-left: 0.5%;
  }
  .hex:nth-child(5n+3),
  .hex:nth-child(5n+6) {
    clear: left;
  }
}

@media (max-width: 1200px) {  /* <- 1-2  hexagons per row */
  .hex {
    width: 49.5%;    /* = (100-1) / 2 */
    padding-bottom: 57.158%;    /* =  width / sin(60) */
  }
  .hex:nth-child(3n+1) {
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  .hex:nth-child(3n+2),
  .hex:nth-child(3n+3) {
    margin-top: -13.423%;
    margin-bottom: -13.423%;
  }
  .hex:nth-child(3n+1) {
    margin-left: 0.5%
  }
  .hex:nth-child(3n+3) {
    margin-left: 1%;
  }
  .hex:nth-child(3n+2),
  .hex:nth-child(3n+4) {
    clear: left;
  }
}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
}

.article-card {
  width: 500px;
  height: 300px;
  padding: 5px;
  border: 1px solid var(--dark-background-color);
  border-radius: 5px;
  display: none;
}

.article-picture {
  width: 500px;
  height: 300px;
}

.article-cards {
  width: 800px;
  position: relative;
  margin: auto;
  height: 300px;

}

.article-block {
  display: block;
}

.article-hide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* End Hexagons */
/* fork on github button */
#fork{
  font-family: 'Raleway', sans-serif;
  position:fixed;
  top:0;
  left:0;
  color:#000;
  text-decoration:none;
  border:1px solid #000;
  padding:.5em .7em;
  margin:1%;
  transition: color .5s;
  overflow:hidden;
}
#fork:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 130%; height: 100%;
  background: #000;
  z-index: -1;
  transform-origin:0 0 ;
  transform:translateX(-100%) skewX(-45deg);
  transition: transform .5s;
}
#fork:hover {
  color: #fff;
}
#fork:hover:before {
  transform: translateX(0) skewX(-45deg);
}

.card {
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 5px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 4px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 4px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 2px;
  width: 300px;
  color: black
}

.card .cardImage img {
  width: 100%
}

.card .cardImage .cardTitle {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
  font-weight: bold;
}

.card .cardTitle {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: #093637;
  font-stretch: expanded;
  justify-content: space-evenly;
}

.card .cardDesc {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.card .cardURL {
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 16px 24px;
}

.product-container {
  display: flex;
  width:  100%;
  flex-wrap: wrap;
  justify-content: center;
}
/* Sign Up Form ***************************************/

.form-4 {
  /* Size and position */
  width: 300px;
  margin: 60px auto 30px;
  padding: 10px;
  position: relative;

  /* Font styles */
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: rgb(9, 75, 38);
  text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.form-4 h1 {
  font-size: 22px;
  padding-bottom: 20px;
}
.form-4 input[type=text],
.form-4 input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #25462d; /* Fallback */
    border: 1px solid rgba(32, 168, 66, 0.8);
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}
.form-4 input::-webkit-input-placeholder {
  color: rgba(37,21,26,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-moz-placeholder {
  color: rgba(37,21,26,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-ms-input-placeholder {
  color: rgba(37,21,26,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
.form-4 input[type=text]:hover,
.form-4 input[type=password]:hover {
    border-color: #333;
}

.form-4 input[type=text]:focus,
.form-4 input[type=password]:focus,
.form-4 input[type=submit]:focus {
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

/* Fallback */
.no-boxshadow .form-4 input[type=text]:focus,
.no-boxshadow .form-4 input[type=password]:focus {
    outline: 1px solid white;
}
.form-4 input[type=submit] {
  /* Size and position */
  width: 100%;
  padding: 8px 5px;
  
  /* Styles */
  background: linear-gradient(rgba(58, 102, 75, 0.5), rgba(4, 87, 45, 0.7));    
  border-radius: 5px;
  border: 1px solid #165e1f;
  box-shadow: 
    inset 0 1px rgba(255,255,255,0.4), 
    0 2px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s ease-out;

  /* Font styles */
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.form-4 input[type=submit]:hover {
  box-shadow: 
      inset 0 1px rgba(255,255,255,0.2), 
      inset 0 20px 30px rgba(99,64,86,0.5);
}

/* Fallback */
.no-boxshadow .form-4 input[type=submit]:hover {
  background: #594642;
}
.form-4 label {
  display: none;
  padding: 0 0 5px 2px;
  cursor: pointer;
}

.form-4 label:hover ~ input {
  border-color: #333;
}

.no-placeholder .form-4 label {
  display: block;
}